<h1>Add a new actor</h1>

<form action="http://localhost:3000/create_actor">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" name="the_name">
  </div>
  <div>
    <label for="bio">Bio:</label>
    <input id="bio" type="text" name="the_bio">
  </div>
  <div>
    <label for="dob">DOB:</label>
    <input id="dob" type="date" name="the_dob">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="the_image_url">
  </div>
  <div>
    <button>Create actor</button>
  </div>
</form>
